{% extends "tournaments/base.html" %}
{% load i18n tournament_utils %}

{% block javascript %}
{{ block.super }}
{% endblock %}

{% block content %}
<h1>Admin Draft Overview</h1>
<ul class="match-admin">
    <li class="player-list-embed">
        <h5>Players:</h5>
        {% include 'tournaments/player_list_embed.html' with tournament_slug=tournament_slug draft_id=draft_id %}
    </li>
    <li class="seatings">
        {% include 'tournaments/seatings_embed.html' with tournament_slug=tournament_slug draft_id=draft_id %}
    </li>
    <li class="admin-match-info">
        <h5>Matches:</h5>
        <ul>
            {% for match_id in match_ids %}
                {% with form=forms|get_item:match_id %}
                    {% include 'tournaments/admin_match_embed.html' with tournament_slug=tournament_slug match_id=match_id form=form %}
                {% endwith %}
            {% empty %}
                <p>Round has not been paired yet.</p>
            {% endfor %}
        </ul>
    </li>
    {% include 'tournaments/draft_standings_embed.html' with tournament_slug=tournament_slug draft_id=draft_id %}
    <li class="admin-draft-buttons">
        <div class="row">
            <div class="col-sm-12">
                <form class="seat-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" name="seat-draft">Seat draft</button>
                </form>
                <form class="pair-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" name="pair-round">Pair round</button>
                </form>
                <form class="finish-round-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" name="finish-round">Finish round and make standings</button>
                </form>
                <form class="reset-draft-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" name="reset-draft">Hard reset draft history</button>
                </form>
            </div>
        </div>
    </li>
</ul>
{% endblock %}