{% extends "tournaments/base.html" %}
{% load i18n tournament_utils %}

{% block title %}Admin Tournament Dashboard{% endblock %}

{% block content %}
<h1>{{ tournament.name }} - Admin Event Overview</h1>
<ul class="tournament-admin">
    <li class="admin-draft-overview">
        <h5>Drafts:</h5>
        <ul>
            {% for draft_id in draft_ids %}
                {% with slug=slugs|get_item:draft_id %}
                    {% include 'tournaments/admin_draft_embed.html' with slug=slug draft_id=draft_id tournament_id=tournament.id %}
                {% endwith %}
            {% endfor %}
        </ul>
    </li>
    <div class="event-standings" id="admin-event-standings">
        {% include 'tournaments/event_standings_embed.html' with tournament_id=tournament.id %}
    </div>
    <li class="finish-event-rd">
        <form class="finish-event-round-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" name="finish-event-round" value="{{ tournament.id }}">Finish event round</button>
        </form>
    </li>
</ul>
{% endblock %}
