{% load static %}

{% block javascript %}
<script src="{% static 'js/admin_draft.js' %}"></script>
{% endblock %}

{% block content %}
    <li class="admin-draft-info-panel">
        <ul id="draft-details" 
            data-draft-id="{{ draft_id }}"
            data-draft-slug="{{ slug }}"
            data-tournament-slug="{{ tournament_slug }}">
            <li id="draft-name-{{ draft_id }}"></li>
            <li id="players-{{ draft_id }}"></li>
            <li id="draft-status-{{ draft_id }}"></li>
        </ul>
    </li>
{% endblock %}
