{% extends "tournaments/base.html" %}
{% load i18n tournament_utils %}

{% block title %}Admin Tournament Dashboard{% endblock %}

{% block content %}
<h1>{{ tournament.name }} - Admin Event Overview</h1>
<ul class="tournament-admin">
    <h5><a href="{% url 'tournaments:admin_player_list' tournament.slug %}">Manage Players</a></h5>
    <li class="admin-draft-overview">
        <ul>
            {% for draft_id in draft_ids %}
                {% with slug=slugs|get_item:draft_id %}
                    {% include 'tournaments/admin_draft_embed.html' with slug=slug draft_id=draft_id tournament_slug=tournament.slug %}
                {% endwith %}
            {% endfor %}
        </ul>
    </li>
    {% include 'tournaments/event_standings_embed.html' with tournament_slug=tournament.slug %}
    <li class="start-phase">
        <form class="start-phase-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" name="start-phase" value="{{ tournament.id }}">Start phase</button>
        </form>
    </li>
    <li class="finish-event-rd">
        <form class="finish-event-round-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" name="finish-event-round" value="{{ tournament.id }}" onclick="return confirm();">Finish event round</button>
        </form>
    </li>
    <li class="reset-event">
        <form class="reset-event-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" name="reset-event" value="{{ tournament.id }}" onclick="return confirm();">Hard reset tournament</button>
        </form>
    </li>
</ul>
{% endblock %}
