{% load i18n %}

{% block content %}
    <li class="admin-match-info-panel" id="match-info-{{ match_id }}">
        <div id="match-panel" data-match-id="{{ match_id }}" data-tournament-slug="{{ tournament_slug }}">
            <div class="pairing" id="pairing-{{ match_id }}"></div>
            <div class="match-result" id="result-{{ match_id }}">
                <form class="report-result" id="report-result-form-{{ match_id }}" method="post" enctype="multipart/form-data" style="display:none;">
                    {% csrf_token %}
                    {{ form.match_id }}
                    <label for="player1-wins-{{ match_id }}"></label>
                    {{ form.player1_wins }}
                    <label for="player2-wins-{{ match_id }}"></label>
                    {{ form.player2_wins }}
                    <button type="submit">{% trans 'Submit Result' %}</button>
                </form>
            </div>
        </div>
    </li>
{% endblock %}
