{% extends "tournaments/base.html" %}
{% load static i18n %}
{% block title %}Check-out{% endblock %}
{% block javascript %}
    {{ block.super }}
    <script>
    document.getElementById('upload-form').addEventListener('submit', function() {
        document.getElementById('loading-gif').style.display = 'block';
    });
    </script>
{% endblock %}
{% block content %}
    <div class="check-in">
        <h1>{% trans 'Check-out' %}: {% trans 'Deck image upload' %}</h1>
        <h5>
            {% trans 'For check-out, please upload at least one image with your entire pool.
            All cards need to be clearly visible.' %}
        </h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>
        <div id="loading-gif" style="display:none;">
            <p>{% trans 'Uploading, please wait %}...</p>
            <img src="{% static 'loading.gif' %}" alt="Loading..." />
        </div>
    </div>
{% endblock %}
