{% extends "tournaments/base.html" %}

{% block javascript %}
<script>
    function getCsrfToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }

    function formatTime(seconds) {
        const minutes = Math.floor(seconds / 60);
        const remainingSeconds = seconds % 60;
        return `${minutes}:${remainingSeconds < 10 ? '0' : ''}${remainingSeconds}`;
    }

    function updateTimer() {
        const timeRemainingElement = document.getElementById('time-remaining');
        if (timeRemainingElement) {
            let timeRemaining = parseInt(timeRemainingElement.getAttribute('data-seconds'));
            if (timeRemaining > 0) {
                timeRemaining -= 1;
                timeRemainingElement.setAttribute('data-seconds', timeRemaining);
                timeRemainingElement.textContent = formatTime(timeRemaining);
            }
        }
    }

    function fetchGameDetails() {
        fetch("{% url 'tournaments:game_by_id' game.id %}")
        .then(response => response.json())
        .then(data => {
            const gameDetailsElement = document.getElementsByName('game-details')[0];

            if (data.error) {
                gameDetailsElement.innerHTML = `<li>${data.error}</li>`;
                reportFormElement.style.display = 'none';
                confirmButtonElement.style.display = 'none';
            } else {
                const game = data.current_game;
                gameDetailsElement.innerHTML = `
                    Table ${game.table}: ${game.player1} vs ${game.player2}. Result: <span id="game-result">${game.result}</span>`;

                reportFormElement.innerHTML = `
                    <label for="player1-wins">${game.player1} Wins:</label>
                        <select id="player1-wins" name="player1_wins">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                        <label for="player2-wins">${game.player2} Wins:</label>
                        <select id="player2-wins" name="player2_wins">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                        <button type="submit">Submit Result</button>`

                if (game.result_formatted === "Pending") {
                    reportFormElement.style.display = 'block';
                    confirmButtonElement.style.display = 'none';
                } else if (!game.result_confirmed) {
                    if (game.player_role != game.reported_by) {
                        reportFormElement.style.display = 'none';
                        confirmButtonElement.style.display = 'block';
                    } else {
                        reportFormElement.style.display = 'none';
                        confirmButtonElement.style.display = 'none';
                    }
                } else {
                    reportFormElement.style.display = 'none';
                    confirmButtonElement.style.display = 'none';
                }
            }
        })
        .catch(error => console.error('Error fetching game result for user:', error));
    }

    // Initial formatting
    document.addEventListener('DOMContentLoaded', () => {
        const timeRemainingElement = document.getElementById('time-remaining');
        if (timeRemainingElement) {
            let timeRemaining = parseInt(timeRemainingElement.getAttribute('data-seconds'));
            timeRemainingElement.textContent = formatTime(timeRemaining);
        }
        
        fetchGameDetails();
        setInterval(updateTimer, 1000);
        setInterval(fetchGameDetails, 10000);

        const confirmButtonElement = document.getElementById('confirm-result');
        const gameId = confirmButtonElement.name;
        if (confirmButtonElement) {
            confirmButtonElement.addEventListener('click', () => {
                fetch("{% url 'tournaments:confirm_result' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCsrfToken()
                    },
                    body: JSON.stringify({
                        tournament_id: "{{ tournament.id }}",
                        game_id: gameId,
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        fetchGameDetails();
                    } else {
                        console.error('Error confirming result:', data.error);
                    }
                })
                .catch(error => console.error('Error confirming result:', error));
            });
        } else {
            console.error("Confirm result button not found in the document.");
        }
    });

    function submitResult(event) {
        event.preventDefault();
        const player1WinForm = document.getElementsByName('player1-wins')[0];
        const gameId = player1WinForm.id;
        const player1Wins = player1WinForm.value;
        const player2WinForm = document.getElementsByName('player2-wins')[0];
        const player2Wins = player2WinForm.value;
        
        fetch("{% url 'tournaments:report_result' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCsrfToken()
            },
            body: JSON.stringify({
                tournament_id: "{{ tournament.id }}",
                game_id: gameId,
                player1_wins: player1Wins,
                player2_wins: player2Wins
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                fetchGameDetails();
            } else {
                console.error('Error reporting result:', data.error);
            }
        })
        .catch(error => console.error('Error reporting result:', error));
    }

</script>
{% endblock %}

{% block content %}
    <h1>{{ tournament.name }} - My Current Match</h1>
    
    <div class="row">
        <div class="col-sm-12">
            {% if phase.timer_active %}
                <p>Timer is running. Time remaining:
                    <span id="time-remaining" data-seconds="{{ phase.time_remaining_seconds }}">
                        {{ phase.time_remaining_formatted }}
                    </span></p>
            {% endif %}
        </div>
    </div>

    <div id="game-info">
        {% csrf_token %}
        <div id="game-details"></div>
        <form name="report-result-form" id="{{ game.id }}" style="display:none;" onsubmit="submitResult(event)">
            <label for="player1-wins">Player 1 Wins:</label>
            <select name="player1-wins" id="{{ game.id }}">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <label for="player2-wins">Player 2 Wins:</label>
            <select name="player2-wins" id="{{ game.id }}">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <button type="submit">Submit Result</button>
        </form>
        <button name="confirm-result" id="{{ game.id }}" style="display:none;">Confirm result</button>
    </div>

{% endblock %}