{% load i18n %}

{% block javascript %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    function updateMatchInfo(matchId) {
        var resultElement = document.getElementById("result-info");
        var formElement = document.getElementById(`report-result-form-${matchId}`);
        var oppElement = document.getElementById("my-opponent");
        var tableElement = document.getElementById("table-info");
        var oppHeaderElement = document.getElementById("opponent-header");
        var oppTextElement = document.getElementById("opponent-text");
        var confirmButtonElement = document.getElementById("confirm-result-btn");
        fetch("{% url 'tournaments:player_match_info' tournament_slug draft.id match.id %}")
        .then(response => response.json())
        .then(data => {
            if (!data.error) {
                var winner = data.winner ? `${data.winner} {% trans 'wins' %}` : '';
                oppElement.innerHTML = `${data.opponent} ${data.opp_pronouns}`;
                resultElement.innerHTML = data.result !== "Pending" ? `<p class="match-result">{% trans 'Result' %}: ${winner} ${data.result}</p>` : '';

                oppHeaderElement.style.display = 'block';

                if (data.result === "Pending") {
                    formElement.style.display = 'block';
                    confirmButtonElement.style.display = 'none';
                    resultElement.style.display = 'block';
                } else {
                    formElement.style.display = 'none';
                    if (!data.result_confirmed && data.name !== data.reported_by) {
                        confirmButtonElement.style.display = 'block';
                    } else {
                        confirmButtonElement.style.display = 'none';
                    }
                    resultElement.style.display = 'block';
                }
            } else {
                if (data.error == 'No checkin.') {
                    var child = oppTextElement.firstChild;
                    child.textContent = '';
                    child.nextSibling.textContent = '';
                    child.nextSibling.nextSibling.textContent = '';
                    oppElement.innerHTML = `
                    Your pairing will be revealed once you have completed the
                    <a href="% url 'tournaments:checkin' tournament_slug %}">check-in</a>.
                    `;
                    oppHeaderElement.style.display = 'block';
                }
            }
            
        })
        .catch(error => console.error('Error updating match info:', error));
    }

    var matchId = "{{ match.id }}";
    updateMatchInfo(matchId);

    setInterval(function() {
        updateMatchInfo(matchId);
    }, 120000); // 120 seconds
});
</script>
{% endblock %}

{% block content %}
<li class="match-info">
    <div id="match-details">
        {% if bye %}
            <div id="opponent-header" style="display:none;">
                <h5>{% trans "You have the bye this round" %}!</h5>
            </div>
        {% else %}
            <div id="opponent-header" style="display:none;">
                <h5 id="opponent-text">{% trans 'My opponent at table' %}
                    <span id="my-table" id="table-info">{{ match.table }}</span>:
                    <span id="my-opponent"></span>
                </h5>
            </div>
        {% endif %}
    </div>
    <p class="match-result" id="result-info" style="display:none;"></p>
    <form class="report-result" id="report-result-form-{{ match.id }}" method="post" enctype="multipart/form-data" style="display:none;">
        {% csrf_token %}
        {{ form.match_id }}
        <label for="player1-wins-{{ match.id }}">{{ match.player1.player.user.name }} {% trans 'wins' %}</label>
        {{ form.player1_wins }}
        <label for="player2-wins-{{ match.id }}">{{ match.player2.player.user.name }} {% trans 'wins' %}</label>
        {{ form.player2_wins }}
        <button type="submit">{% trans 'Submit Result' %}</button>
    </form>
    <form class="confirm-result" id="confirm-result-form-{{ match.id }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ confirm_form.confirm_match_id }}
        <button class="confirm-result" id="confirm-result-btn" style="display:none;">{% trans 'Confirm result' %}</button>
    </form>
</li>
{% endblock %}
