{% extends "tournaments/base.html" %}
{% load i18n %}
{% block title %}{% trans 'My current draft' %}{% endblock %}
{% block javascript %}
{{ block.super }}
<script defer>
    var checkin = true;
    document.addEventListener('DOMContentLoaded', () => {
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        function fetchData(url, callback) {
            fetch(url)
                .then(response => response.json())
                .then(data => callback(data))
                .catch(error => console.error('Error fetching data:', error));
        }

        function updateBasicInfo() {
            fetchData("{% url 'tournaments:player_basic_info' %}", data => {
                if (!data.error) {
                    updatePlayerStatus(data.player);
                } else {
                    console.error('Error:', data.error);
                }
            });
        }

        function updateDraftInfo() {
            fetchData("{% url 'tournaments:player_draft_info' %}", data => {
                if (!data.error) {
                    const draft = data.draft;
                    const draftInfoElement = document.getElementById('draft-info-header');
                    const current_round = draft.current_round === '0' ? `:` : ` {% trans 'in round' %} ${draft.current_round}:`;
                    draftInfoElement.innerHTML = `
                        <h4>{% trans 'My current draft' %}${current_round}</h4>
                        <h1>Cube: <a href="${draft.cube_url}" target="_blank">${draft.cube_name}</a></h1>
                    `;
                } else {
                    console.error('Error:', data.error);
                }
            });
        }

        function updateMatchInfo() {
            fetchData("{% url 'tournaments:player_match_info' %}", data => {
                if (!data.error) {
                    updateMatchDetails(data.match, data.player);
                } else {
                    updateMatchDetails(data, null);
                }
            });
        }

        function updateStandingsInfo() {
            fetchData("{% url 'tournaments:player_standings_info' %}", data => {
                if (!data.error) {
                    updateStandings(data.standings, data.current_round);
                } else {
                    updateStandings(data);
                }
            });
        }

        function updateSeatingsInfo() {
            fetchData("{% url 'tournaments:player_seatings_info' %}", data => {
                if (!data.error) {
                    updateSeatings(data.seatings);
                } else {
                    updateSeatings(data);
                }
            });
        }

        function updatePairingsInfo() {
            fetchData("{% url 'tournaments:player_pairings_info' %}", data => {
                if (!data.error) {
                    updatePairings(data.other_pairings, data.bye);
                } else {
                    updatePairings(data);
                }
            });
        }

        function updatePlayerStatus(player) {
            const uploadElement = document.getElementById('deck-upload');
            let uploadHtml = '';

            if (!player.checked_in) {
                checkin = false;
                uploadHtml = `
                <div class="pool-info-check-in-missing">
                    {% url 'tournaments:checkin' as url %}
                    <h5>{% trans "You are not yet checked in" %}. 
                            {% blocktrans %}
                            Please <a href="{{ url }}">upload your pool</a> once you have finished drafting.</h5>
                        {% endblocktrans %}
                </div>
                `;
            } else {
                checkin = true;
                uploadHtml = `
                <div class="pool-info-checked-in">
                    <h5>{%trans 'You are checked in and good to go' %}!</h5>
                    <a href="{% url 'tournaments:my_pool_checkin' %}">{% trans 'My pool' %}</a>
                </div>
                `;
                if (player.checked_out) {
                    uploadHtml = `
                    <div class="pool-info-checked-out">
                        <h5>{%trans 'You have checked out and are good to go!' %}</h5>
                        <a href="{% url 'tournaments:my_pool_checkout' %}">{% trans 'My pool' %}</a>
                    </div>
                    `;
                } else {
                    uploadHtml += `
                    <div class="pool-info-check-out-missing">
                        <h5>
                            {% url 'tournaments:checkin' as url %}
                            {% blocktrans %}
                            To check out, please <a href="{{ url }}">upload your pool</a> after you have finished all your matches
                            {% endblocktrans %}
                            .
                        </h5>
                    </div>
                    `;
                }
            }
            uploadElement.innerHTML = uploadHtml;
        }

        function updatePairings(pairings, bye) {
            const pairingsElement = document.getElementById('player-pairings');
            if (pairings.error) {
                pairingsElement.innerHTML = '<h5></h5>';
            } else {
                if (!checkin) {
                    pairingsElement.innerHTML = `<h5>{% trans 'Pairings will be revealed once you have checked in your pool' %}.</h5>`;
                } else {
                    let pairingsHtml = pairings.map(match => `
                        <li>{% trans 'Table' %} ${match.table}: ${match.player1} vs ${match.player2}</li>
                    `).join('');

                    if (bye) {
                        pairingsHtml += (`
                        <li>${bye} - BYE</li>
                        `);
                    }
                    pairingsElement.innerHTML = `<h5>{% trans 'Other pairings' %}:</h5><ul>${pairingsHtml}</ul>`;
                }
            }
        }

        function updateSeatings(seatings) {
            const seatingsElement = document.getElementById('player-seatings');
            if (seatings.error) {
                if (seatings.error === "Draft has not been seated yet") {
                    seatingsElement.innerHTML = `<h5>{% trans 'Waiting for seatings' %}...</h5>`;
                    seatingsElement.style.display = 'block';
                } else {
                    seatingsElement.style.display = 'none';
                }
            } else {
                const seatingsHtml = seatings.map(player => `
                    <li>${player.name}</li>
                `).join('');
                seatingsElement.innerHTML = `<h5>Seatings:</h5><ol>${seatingsHtml}</ol>`;
                seatingsElement.style.display = 'block';
            }
        }

        function updateMatchDetails(match, player) {
            const gameDetailsElement = document.getElementById('match-details');
            if (match.error) {
                gameDetailsElement.innerHTML = `
                    <h5 class="waiting-for-pairings">${match.error}</h5>
                `;
            } else {
                if (!checkin) {
                    gameDetailsElement.innerHTML = `<h5>{% trans 'Your pairing will be revealed once you have checked in your pool' %}.</h5>`;
                } else {
                    if (match.bye) {
                        gameDetailsElement.innerHTML = `
                        <h5>{% trans "You have the bye this round" %}!</h5>
                        `;
                        const reportFormElement = document.getElementById('report-result-form');
                        const confirmButtonElement = document.getElementById('confirm-result-btn');
                        reportFormElement.style.display = 'none';
                        confirmButtonElement.style.display = 'none';
                    } else {
                        const winner = match.winner ? `${match.winner} {% trans 'wins' %}` : '';
                        gameDetailsElement.innerHTML = `
                            <h5>
                                {% trans 'My opponent at table' %} 
                                <span class="my-table">${match.table}</span>: 
                                <span class="my-opponent">${match.opponent} ${match.opp_pronouns}</span>.
                            </h5>
                            ${match.result !== "Pending" ? `<p class="match-result">{% trans 'Result' %}: ${winner} ${match.result}</p>` : ''}
                        `;

                        const reportFormElement = document.getElementById('report-result-form');
                        const confirmButtonElement = document.getElementById('confirm-result-btn');
                        reportFormElement.innerHTML = reportFormElement.innerHTML.replace('Player 1', match.player1);
                        reportFormElement.innerHTML = reportFormElement.innerHTML.replace('Player 2', match.player2);
                        if (match.result === "Pending") {
                            reportFormElement.style.display = 'block';
                            confirmButtonElement.style.display = 'none';
                        } else {
                            reportFormElement.style.display = 'none';
                            if (!match.result_confirmed && player.name !== match.reported_by) {
                                confirmButtonElement.style.display = 'block';
                                confirmButtonElement.setAttribute('name', match.id);
                            } else {
                                confirmButtonElement.style.display = 'none';
                            }
                        }

                        const player1WinForm = document.getElementById('player1-wins');
                        player1WinForm.name = match.id;
                        const player2WinForm = document.getElementById('player2-wins');
                        player2WinForm.name = match.id;
                    }
                }
            }
        }

        function updateStandings(standings, current_round) {
            const standingsElement = document.getElementById('player-draft-standings');
            if (standings.error) {
                standingsElement.innerHTML = `<h5>{% trans 'Waiting for standings' %}...</h5>`;
            } else {
                const standingsHtml = standings.map((player, i) => `
                    <tr>
                        <td style="text-align: center; padding-right: 40px;">${i + 1}</td>
                        <td style="text-align: center; padding-right: 40px;">${player.name}</td>
                        <td style="text-align: center; padding-right: 40px;">${player.score}</td>
                        <td style="text-align: center; padding-right: 40px;">${player.omw}</td>
                        <td style="text-align: center; padding-right: 40px;">${player.pgw}</td>
                        <td style="text-align: center; padding-right: 40px;">${player.ogw}</td>
                    </tr>
                `).join('');
                standingsElement.innerHTML = `
                    <h5>{% trans 'Draft standings after round' %} ${current_round}:</h5>
                    <table class="standings-table" >
                        <thead>
                            <tr>
                                <th style="text-align: center; padding-right: 40px;">#</th>
                                <th style="text-align: center; padding-right: 40px;">Name</th>
                                <th style="text-align: center; padding-right: 40px;">Pts</th>
                                <th style="text-align: center; padding-right: 40px;">OMW%</th>
                                <th style="text-align: center; padding-right: 40px;">PGW%</th>
                                <th style="text-align: center; padding-right: 40px;">OGW%</th>
                            </tr>
                        </thead>
                        <tbody>${standingsHtml}</tbody>
                    </table>
                `;
            }
        }

        function submitResult(event) {
            event.preventDefault();
            const gameId = document.getElementById('player1-wins').name;
            const player1Wins = document.getElementById('player1-wins').value;
            const player2Wins = document.getElementById('player2-wins').value;

            fetch("{% url 'tournaments:report_result' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({
                    game_id: gameId,
                    player1_wins: player1Wins,
                    player2_wins: player2Wins,
                })
            })
            .then(response => {
                if (response.status === 403) {
                    window.location.reload();
                }
                return response.json();
            })
            .then(data => {
                if (!data.success) {
                    console.error('Error reporting result:', data.error);

                }
                updateMatchInfo();
            })
            .catch(error => console.error('Error reporting result:', error));
        }

        const confirmButtonElement = document.getElementById('confirm-result-btn');
        if (confirmButtonElement) {
            confirmButtonElement.addEventListener('click', () => {
                const gameId = confirmButtonElement.name;
                fetch("{% url 'tournaments:confirm_result' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    body: JSON.stringify({
                        'game_id': gameId,
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        updateMatchInfo();
                    } else {
                        console.error('Error confirming result:', data.error);
                    }
                })
                .catch(error => console.error('Error confirming result:', error));
            });
        }

        document.getElementById('report-result-form').addEventListener('submit', submitResult);

        updateBasicInfo();
        updateDraftInfo();
        updateMatchInfo();
        updateSeatingsInfo();
        updateStandingsInfo();
        updatePairingsInfo();
        setInterval(updateBasicInfo, 60000);
        setInterval(updateDraftInfo, 60000);
        setInterval(updateMatchInfo, 60000);
    });
</script>
{% endblock %}

{% block content %}
<div id="draft-dashboard">
    <div class="draft-title" id="draft-info-header"></div>
    <ul class="player-info-list">
        <li class="pool-info" id="deck-upload"></li>
        <li class="match-info">
            {% csrf_token %}
            <div id="match-details"></div>
            <form class="report-result" id="report-result-form" style="display:none;">
                <label for="player1-wins"><p class="match-result">{% trans 'Match result' %}:</p> Player 1 {% trans 'wins' %}</label>
                <select id="player1-wins">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                <label for="player2-wins"> - Player 2 {% trans 'wins' %}</label>
                <select id="player2-wins">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                <button type="submit">{% trans 'Submit Result' %}</button>
            </form>
            <button class="confirm-result" id="confirm-result-btn" style="display:none;">{% trans 'Confirm result' %}</button>
        </li>
        <li class="seatings-info" id="player-seatings"></li>
        <li class="pairings-info" id="player-pairings"></li>
        <li class="standings-info" id="player-draft-standings"></li>
    </ul>
</div>
{% endblock %}
