{% extends "tournaments/base.html" %}
{% load i18n %}

{% block title %}{% trans 'My current draft' %}{% endblock %}

{% block content %}
<div id="draft-dashboard">
    <div class="draft-title" id="draft-info-header">
    {% if not round %}
        <h4>{% trans 'My current draft' %}:</h4>
    {% else %}
        <h4>{% trans 'My current draft in round' %} {{ round.round_idx }}:</h4>
    {% endif %}
        <h1>Cube: <a href="{% url 'tournaments:cube_detail' draft.cube.slug %}" target="_blank">{{ draft.cube.name }}</a></h1>
    </div>
    <ul class="player-info-list">
        {% include 'tournaments/pool_embed.html' with tournament_slug=tournament.slug draft=draft %}
        {% if match or bye %}
            {% include 'tournaments/current_match_full_embed.html' with tournament_slug=tournament.slug draft=draft match=match bye=bye form=form confirm_form=confirm_form %}
        {% else %}
            <li class="match-info">
                <div id="match-details">
                    <h5>{% trans 'Waiting for pairings' %}</h5>
                </div>
            </li>
        {% endif %}
        {% include 'tournaments/seatings_embed.html' with tournament_slug=tournament.slug draft=draft %}
        {% include 'tournaments/pairings_embed.html' with tournament_slug=tournament.slug draft=draft %}
        {% include 'tournaments/draft_standings_embed.html' with tournament_slug=tournament.slug draft=draft %}
    </ul>
</div>
{% endblock %}
