{% extends "tournaments/base.html" %}
{% load i18n static %}
{% block title%}My event dashboard{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'js/event_dashboard.js' %}"></script>
{% endblock %}

{% block content %}
<div class="event-dashboard" id="dashboard-container" data-tournament-slug="{{ tournament.slug }}" data-draft-slug="{{ draft.slug }}">
    <h4>{% trans 'Event Dashboard' %}</h4>
    <div class="event-title" id="event-info-header">
        <h1 class="event-name">{{ tournament.name }}</h1>
    </div>
    <div class="signup-status" id="player-signup-status"></div>
    <div class="event-announcement" id="announcement" style="display:none;"></div>
    <ul class="player-info-list">
        <li class="draft-info" id="draft-info-header"></li>
        <li class="cube-info" id="player-cube-info"></li>
        {% include 'tournaments/current_match_preview_embed.html' with tournament=tournament %}
        {% include 'tournaments/event_standings_embed.html' with tournament_slug=tournament.slug %}
        {% include 'tournaments/timetable_embed.html' with tournament_slug=tournament.slug %}
    </ul>
</div>
{% endblock %}