{% extends "tournaments/base.html" %}
{% block title%}My event dashboard{% endblock %}

{% block javascript %}
{{ block.super }}
<script>
    function fetchPlayerBasicInfo() {
        fetch("{% url 'tournaments:player_basic_info' %}")
        .then(response => response.json())
        .then(data => {
            const statusElement = document.getElementById('player-signup-status');
            if (!data.error) {
                if (data.player.signup_status) {
                    statusElement.innerHTML = `
                    <h5>
                        Your registration is finished - you are good to go!
                    </h5>
                    `;
                } else {
                    statusElement.innerHTML = `
                    <h5>
                        Your registration is still pending. Please contact us to resolve this.
                    </h5>
                    `;
                }
                
                const eventElement = document.getElementById('event-info-header');
                eventElement.innerHTML = `<h1>${data.player.tournament_name}</h1>`;
            } else {
                console.log(data.error);
            }
        })
        .catch(error => console.error('Error fetching player information:', error));
    }

    function fetchDraftDetails() {
        fetch("{% url 'tournaments:player_draft_info' %}")
        .then(response => response.json())
        .then(data => {
            const draftInfoElement = document.getElementById("draft-info-header");
            const cubeInfoElement = document.getElementById("player-cube-info");
            const statusElement = document.getElementById('player-signup-status');
            if (!data.error) {
                if (!data.draft.error) {
                    const currentDraftUrl = "{% url 'tournaments:draft_dashboard' %}";
                    draftInfoElement.innerHTML = `
                    <h5>
                        <a href="${currentDraftUrl}">My current draft</a>
                    </h5>
                    `;
                    cubeInfoElement.innerHTML = `
                    Cube list: <a href="${data.draft.cube_url}">
                        ${data.draft.cube_name}
                    </a>
                    `;
                    if (data.draft.current_round >= 1) {
                        statusElement.style.display = 'none';
                    } 
                }
            } else {
                console.log(data.error);
            }
        })
        .catch(error => console.error('Error fetching draft information:', error));
    }

    function fetchEventStandings() {
        fetch("{% url 'tournaments:event_standings' %}")
        .then(response => response.json())
        .then(data => {
            const standingsElement = document.getElementById('player-event-standings');
            if (!data.error) {
                const standingsHtml = data.standings.map((player, i) => `
                    <tr>
                        <td style="text-align: center; padding-right: 40px;">${i + 1}</td>
                        <td style="text-align: center; padding-right: 40px;">${player.name}</td>
                        <td style="text-align: center; padding-right: 40px;">${player.score}</td>
                        <td style="text-align: center; padding-right: 40px;">${player.omw}</td>
                        <td style="text-align: center; padding-right: 40px;">${player.pgw}</td>
                        <td style="text-align: center; padding-right: 40px;">${player.ogw}</td>
                    </tr>
                `).join('');
                standingsElement.innerHTML = `
                    <h5>Overall event standings after round ${data.current_round}:</h5>
                    <table class="standings-table" >
                        <thead>
                            <tr>
                                <th style="text-align: center; padding-right: 40px;">Place</th>
                                <th style="text-align: center; padding-right: 40px;">Player</th>
                                <th style="text-align: center; padding-right: 40px;">Points</th>
                                <th style="text-align: center; padding-right: 40px;">OMW</th>
                                <th style="text-align: center; padding-right: 40px;">PGW</th>
                                <th style="text-align: center; padding-right: 40px;">OGW</th>
                            </tr>
                        </thead>
                        <tbody>${standingsHtml}</tbody>
                    </table>
                `;
            } else {
                standingsElement.style.display = 'none';
            }
        })
        .catch(error => console.error('Error fetching event standings:', error));
    }

    function fetchMatchDetails() {
        fetch("{% url 'tournaments:player_match_info' %}")
        .then(response => response.json())
        .then(data => {
            const gameDetailsElement = document.getElementById('player-match-info');
            if (!data.error) {
                if (!data.match.error) {
                    if (data.match.bye) {
                        gameDetailsElement.innerHTML = '<h5>You have the bye this round.</h5>';
                    } else {
                        gameDetailsElement.innerHTML = `My current match in round ${data.match.current_round}: Playing vs ${data.match.opponent} at table ${data.match.table}
                        `;
                    }
                }
            } else {
                console.log(data.error);
            }
        })
        .catch(error => console.error('Error fetching match information:', error));
    }

    function fetchNextDraft() {
        fetch("{% url 'tournaments:next_draft' %}")
        .then(response => response.json())
        .then(data => {
            const nextDraftElement = document.getElementById("next-draft");
            if (!data.error) {
                nextDraftElement.innerHTML = `
                <p>
                    My next draft: <a href="${data.upcoming_draft.cube_url}">${data.upcoming_draft.cube}</a>
                </p>
                `;
            }
        })
        .catch(error => console.error('Error fetching upcoming draft information:', error));
    }

    function fetchAnnouncement() {
        fetch("{% url 'tournaments:announcement' %}")
        .then(response => response.json())
        .then(data => {
            const announcementElement = document.getElementById('announcement');
            if (data.error) {
                announcementElement.style.display = 'none';
            } else {
                announcementElement.innerHTML = `
                <h5>
                    Event announcement: ${data.announcement}
                </h5>
                `;
            }
        })
        .catch(error => console.error('Error fetching event information', error));
    }

    // Initial formatting
    document.addEventListener('DOMContentLoaded', () => {
        fetchPlayerBasicInfo();
        fetchDraftDetails();
        fetchMatchDetails();
        fetchNextDraft();
        fetchEventStandings();
        fetchAnnouncement();
        setInterval(fetchPlayerBasicInfo, 60000);
        setInterval(fetchDraftDetails, 60000);
        setInterval(fetchMatchDetails, 60000);
        setInterval(fetchAnnouncement, 120000);
        setInterval(fetchEventStandings, 120000);
        setInterval(fetchNextDraft, 240000);
    });
</script>

{% endblock %}

{% block content %}
<div class="event-dashboard">
    <h4>Event Dashboard</h4><div class="event-title" id="event-info-header"></div>
    <div class="signup-status" id="player-signup-status"></div>
    <div class="event-announcement" id="announcement"></div>
    <div class="player-info-list">
        <ul class="current-draft-info">
            <li class="draft-info" id="draft-info-header"></li>
            <li class="cube-info" id="player-cube-info"></li>
            <li class="match-info" id="player-match-info"></li>
        </ul>
        <div class="event-standings" id="player-event-standings"></div>
        <div class="next-draft-info" id="next-draft"></div>
    </div>
</div>
{% endblock %}