{% load i18n static %}

{% block javascript %}
<script src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'js/event_standings.js' %}"></script>
{% endblock %}

{% block content %}
<li class="standings" id="standings-container" data-tournament-slug="{{ tournament_slug }}" style="display:none;">
    <h5 id="event-standings-header-{{ tournament_slug }}"></h5>
    <p id="event-standings-info-{{ tournament_slug }}"></p>
    <table class="standings-table" id="event-standings-{{ tournament_slug }}">
        <thead>
            <tr>
                <th style="text-align: center; padding-right: 40px;">#</th>
                <th style="text-align: center; padding-right: 40px;">Name</th>
                <th style="text-align: center; padding-right: 40px;">Pts</th>
                <th style="text-align: center; padding-right: 40px;">OMW%</th>
                <th style="text-align: center; padding-right: 40px;">PGW%</th>
                <th style="text-align: center; padding-right: 40px;">OGW%</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</li>
{% endblock %}