{% load i18n %}
{% load i18n tournament_filter %}

{% block content %}
    {% if tournament|is_side_event %}
        <li class="side-event-signup-panel">
    {% else %}
        <li class="main-event-signup-panel">
    {% endif %}
        <ul class="event-info">
            <li class="event-title"><h5>{{tournament.name}}</h5></li>
            <li class="event-description">{{tournament.description}}</li>
            <li class="event-capacity"><strong>{% trans 'Registrations' %}</strong>: {{ tournament.signed_up }}/{{ tournament.player_capacity }}</li>
            <li class="event-format"><strong>Format:</strong> {{ tournament.format_description|linebreaksbr }}</li>
            <li class="event-time"><strong>{% trans 'Start' %}</strong>: {{tournament.start_datetime}} - <strong>{% trans 'End' %}</strong>: {{tournament.end_datetime}}</li>
            {% if status %}
                <button class="registration-button already-registered" type="submit" disabled>{% trans 'You registration is complete and you are good to go' %}!</button>
            {% else %}
                <button class="registration-button registration-pending" type="submit" disabled>{% trans 'Your registration still needs to be confirmed by a tournament official' %}</button>
            {% endif %}
        </ul>
    </li>
{% endblock %}