{% extends "tournaments/base.html" %}
{% load i18n %}
{% block title%}{% trans 'My check-in pool & decklist submissions' %}{% endblock %}

{% block content %}
<div class="pool-info-checkin">
    <h1>
        {% trans 'My check-in pool & decklist submissions' %}
    </h1>
    <div class="upload-more">
        <a href="{% url 'tournaments:checkin' %}">{% trans 'Upload deck images' %}</a>
    </div>
    <ul>
        {% for image in images %}
            <li>
                <img src="{{ image.image.url }}" alt="{{ image }}">
                <a href="{% url 'tournaments:delete_image_checkin' image.id %}">{% trans 'Delete' %}</a>
                <a href="{% url 'tournaments:replace_image_checkin' image.id %}">{% trans 'Replace' %}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}