{% extends "tournaments/base.html" %}
{% block title%}My check-in pool & decklist submissions{% endblock %}

{% block content %}
<div class="pool-info-checkin">
    <h1>
        My check-in pool & decklist submissions
    </h1>
    <div class="upload-more">
        <a href="{% url 'tournaments:checkin' %}">Upload additional images</a>
    </div>
    <ul>
        {% for image in images %}
            <li>
                <img src="{{ image.image.url }}" alt="{{ image }}">
                <a href="{% url 'tournaments:delete_image_checkin' image.id %}">Delete</a>
                <a href="{% url 'tournaments:replace_image_checkin' image.id %}">Replace</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}