{% load i18n %}

{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function updateSeatings(draftId) {
            var seatingsContainer = document.getElementById("player-seatings-" + draftId);
            var seatingsElement = document.getElementById("seatings-" + draftId);
            var headerElement = document.getElementById("seatings-header-" + draftId);
            var infoElement = document.getElementById("seatings-info-" + draftId);
            var url = "{% url 'tournaments:seatings' tournament_slug 0 %}".replace(0, draftId);
            fetch(url)
            .then(response => response.json())
            .then(data => {
                headerElement.innerHTML = 'Seatings:';
                if (!data.error) {
                    seatingsElement.innerHTML = data.seatings.map((player, i) => `
                        <li>${player.name}</li>
                    `).join('');
                } else {
                    if (data.error == "Draft has not been seated yet.") {
                        infoElement.innerHTML = `Waiting for seatings.`;
                    } else {
                        seatingsContainer.style.display = 'none';
                    }
                }
            })
            .catch(error => console.error('Error updating match info:', error));
        }

        var draftId = "{{ draft_id }}";
        updateSeatings(draftId);
    
        setInterval(function() {
            updateSeatings(draftId);
        }, 600000); // 120 seconds
    });
    </script>
{% endblock %}

{% block content %}
<li class="seatings-info" id="player-seatings-{{ draft_id }}">
    <h5 id="seatings-header-{{ draft_id }}"></h5>
    <p id="seatings-info-{{ draft_id }}"></p>
    <ol class="seatings-table" id="seatings-{{ draft_id }}"></ol>
</li>
{% endblock %}