{% load i18n %}

{% block content %}
    <li class="side-event-signup-panel" id="side-event-{{ side_event.id }}">
        <ul class="side-event-info">
            <li class="event-title"><h5>{{side_event.name}}</h5></li>
            <li class="event-description">{{side_event.description}}</li>
            <li class="event-start-time">{% trans 'Start' %}: {{side_event.start_datetime}}</li>
            <li class="event-end-time">{% trans 'End' %}: {{side_event.end_datetime}}</li>
            <li class="side-event-signup">
                <form class="enroll-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" name="event-id" value="{{ side_event.id }}">{% trans 'Register' %}</button>
                </form>    
            </li>
        </ul>
    </li>
{% endblock %}