{% extends 'tournaments/base.html' %}
{% load i18n tournament_filter tournament_utils allauth %}

{% block title %}{% trans 'MtG Cube Tournament Vault - Home' %}{% endblock %}

{% block content %}
<div id="home-dashboard">
    <h1>{% trans 'Home' %}</h1>
    {% if request.user.is_authenticated %}
        {% if tournaments.events %}
            <ul class="event-list">
                <h5>{% trans 'My events' %}:</h5>
                {% for tournament in tournaments.events %}
                    {% url 'tournaments:event_dashboard' tournament.slug as url %}
                    {% if not tournament|is_side_event %}
                        <li class="main-event-information-panel">
                    {% else %}
                        <li class="side-event-information-panel">
                    {% endif %}
                        <ul class="event-info">
                            <li class="event-title">{{ tournament.name }}</li>
                            {% with status=tournaments.status|get_item:tournament.id %}
                            {% if status %}
                                {% if not tournament|is_side_event %}
                                    <li class="main-event-link"><a href="{{ url }}">{% trans 'Go to event dashboard' %}</a></li>
                                {% else %}
                                    <li class="side-event-link"><a href="{{ url }}">{% trans 'Go to event dashboard' %}</a></li>
                                {% endif %}
                            {% else %}
                                {% if not tournament|is_side_event %}
                                    <li class="main-event-link disabled"><a class="disabled">{% trans 'Waiting for tournament to start' %}</a></li>
                                {% else %}
                                    <li class="side-event-link disabled"><a class="disabled">{% trans 'Waiting for tournament to start' %}</a></li>
                                {% endif %}
                            {% endif %}
                            <li class="event-description">{{tournament.description}}</li>
                            <li class="event-capacity"><strong>{% trans 'Registrations' %}:</strong> {{ tournament.signed_up }}/{{ tournament.player_capacity }}</li>
                            <li class="event-format"><strong>Format:</strong> {{ tournament.format_description|safe|linebreaksbr }}</li>
                            <li class="event-start-time"><strong>{% trans 'Start' %}:</strong> {{tournament.start_datetime}}</li>
                            {% endwith %}
                            </ul>
                        </li>
                {% endfor %}
            </ul>
        {% else %}
            {% url 'tournaments:available_events' as url %}
            {% blocktrans %}<p>You are not yet <a href="{{ url }}">registered</a> for any events.</p>{% endblocktrans %}
        {% endif %}
        
        <ul class="home-nav-buttons">
            <li><a class="home-nav-button" href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
            <li><a class="home-nav-button" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
        </ul>
    {% else %}
    <ul class="home-nav-buttons">
        <li><a class="home-nav-button" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
        <li><a class="home-nav-button" href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
    </ul>
    {% endif %}
</div>
{% endblock %}