{% extends "tournaments/base.html" %}
{% load tournament_utils %}

{% block javascript %}
    <script>
    function formatTime(seconds) {
        const minutes = Math.floor(seconds / 60);
        const remainingSeconds = seconds % 60;
        return `${minutes}:${remainingSeconds < 10 ? '0' : ''}${remainingSeconds}`;
    }

    function updateTimer() {
        const x = document.getElementsByName('round_timer');
        for (const timeRemainingElement of x) {
            if (timeRemainingElement) {
                let timeRemaining = parseInt(timeRemainingElement.getAttribute('data-seconds'));
                if (timeRemaining > 0) {
                    timeRemaining -= 1;
                    timeRemainingElement.setAttribute('data-seconds', timeRemaining);
                    timeRemainingElement.textContent = formatTime(timeRemaining);
                }
            }
        }
    }

    function fetchGameResults() {
    fetch("{% url 'tournaments:game_results' %}")
        .then(response => response.json())
        .then(data => {
            data.games.forEach(game => {
                const resultElement = document.getElementById(`game-result-${game.id}`);
                if (resultElement) {
                    resultElement.textContent = game.result;
                }
            });
        })
        .catch(error => console.error('Error fetching game results:', error));
    }

    function checkRoundComplete() {
        const finishButtons = document.getElementsByName('finish-btn');
        for (const btn of finishButtons) {
            if (btn) {
                const draftId = btn.id;
                const url = `{% url 'tournaments:games_for_draft' tournament.id 0 %}`.replace('0', draftId);
                btn.style.display = btn.style.display;
                let roundOngoing = false;
                fetch(url)
                .then(response => response.json())
                .then(data => {
                    data.games.forEach(game => {
                        if (game.result == 'Pending') {
                            roundOngoing = true;
                        } else {
                            if (!game.result_confirmed) {
                                roundOngoing = true;
                            }
                        }
                    });
                    if (!roundOngoing) {
                        btn.style.display = 'block';
                    } else {
                        btn.style.display = 'none';
                    }
                })
                .catch(error => console.error('Error fetching game results:', error));
            }
        }
    }

    // Initial formatting
    document.addEventListener('DOMContentLoaded', () => {
        const roundTimers = document.getElementsByName('round_timer');
        for (const timeRemainingElement of roundTimers) {
            if (timeRemainingElement) {
                let timeRemaining = parseInt(timeRemainingElement.getAttribute('data-seconds'));
                timeRemainingElement.textContent = formatTime(timeRemaining);
            }
        }
        const finishButtons = document.getElementsByName('finish-btn');
        fetchGameResults();
        checkRoundComplete();
    });
    
    setInterval(updateTimer, 1000);
    setInterval(fetchGameResults, 10000);
    setInterval(checkRoundComplete, 10000);

    </script>
{% endblock %}

{% block content %}
    <div class="tournament-admin">
    <h1>Tournament Overview Page - Admin</h1>
    <h2> {{ tournament.name }} </h2>
    
    <h4> Drafts: </h4>
    {% for draft in drafts %}
        <ul>
            <h5>Phase {{ draft.phase.id }} - {{ draft.cube }}</h5>
            <h6> Pairings: </h6>
            {% with games=draft_games|get_item:draft.id %}
                {% for game in games %}
                    <li>Table {{ game.table }}: {{ game.player1 }} vs {{ game.player2 }} - Result: 
                        <span id="game-result-{{ game.id }}">
                            {{ game.result_formatted }}
                        </span>
                    </li>
                {% empty %}
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-primary"
                                href="{% url 'tournaments:pair_round_view' tournament.id draft.id %}"
                                role="button">Pair Round
                            </a>
                        </div>
                    </div>
                {% endfor %}
                {% if games %}
                    {% with round=rounds|get_item:draft.id %}
                        <div class="row">
                            <div class="col-sm-12">
                                {% if round.timer_active %}
                                    <p>Timer is running. Time remaining:
                                        <span id="time-remaining" name="round_timer" data-seconds="{{ round.time_remaining_seconds }}">
                                            {{ round.time_remaining_formatted }}
                                        </span></p>
                                    <form method="post"
                                        action="{% url 'tournaments:stop_round_view' tournament.id round.id %}"
                                        style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">Stop round timer</button>
                                    </form>
                                {% else %}
                                    <form method="post"
                                        action="{% url 'tournaments:start_round_view' tournament.id round.id %}"
                                        style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">Start round timer</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}
                    <div class="row">
                        <div class="col-sm-12">
                            <form method="post"
                                action="{% url 'tournaments:clear_history_view' tournament.id draft.id %}"
                                style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Clear pairing history</button>
                            </form>
                            <form method="post"
                                name="finish-btn"
                                id="{{draft.id}}"
                                action="{% url 'tournaments:finish_round' tournament.id draft.id %}"
                                style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Finish round</button>
                            </form>
                            <form method="post"
                                action="{% url 'tournaments:sync' tournament.id draft.id %}"
                                style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Sync results</button>
                            </form>
                        </div>
                    </div>

                {% endif %}
            {% endwith %}
        </ul>
    {% empty %}
        <p>No Drafts</p>
    {% endfor %}
    </div>
{% endblock %}

