{% extends "tournaments/base.html" %}
{% load tournament_utils %}

{% block javascript %}
    <script>

        function fetchGameResults() {
            const matchInfoElements = document.getElementsByClassName('match-info');
            for (const e of matchInfoElements) {
                const gameId = e.id;
                const url = `{% url 'tournaments:game_by_id' 0 %}`.replace('0', gameId);
                fetch(url)
                .then(response => response.json())
                .then(data => {
                    e.textContent = `${data.result}`;
                })
                .catch(error => console.error('Error fetching match information:', error));
            }
        }

        function checkRoundStatus() {
            const finishButtons = document.getElementsByName('finish-btn');
            for (const btn of finishButtons) {
                if (btn) {
                    const draftId = btn.id.slice(1);
                    const startButton = document.getElementById(`s${draftId}`);
                    const url = `{% url 'tournaments:round_status' tournament.id 0 %}`.replace('0', draftId);
                    btn.style.display = btn.style.display;
                    fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        if (data.finished) {
                            btn.style.display = 'block';
                        } else {
                            btn.style.display = 'none';
                        }
                        if (data.started) {
                            if (startButton) {
                                startButton.style.display = 'none';
                            } else {
                                startButton.style.display = 'block';
                            }
                        }
                    })
                    .catch(error => console.error('Error fetching game results:', error));
                }
            }
        }

        // Initial formatting
        document.addEventListener('DOMContentLoaded', () => {
            const finishButtons = document.getElementsByName('finish-btn');
            for (const btn of finishButtons) {
                if (btn) {
                    btn.style.display = 'none';
                }
            }

            fetchGameResults();
            checkRoundStatus();
        });

        setInterval(fetchGameResults, 10000);
        setInterval(checkRoundStatus, 10000);

    </script>
{% endblock %}

{% block content %}
    <div class="tournament-admin">
    <h1>Tournament Overview Page - Admin</h1>
    <h2> {{ tournament.name }} </h2>
    
    <h3> Drafts: </h3>
    {% for draft in drafts %}
        <ul>
            <h4>Phase {{ draft.phase.id }} - {{ draft.cube }}</h4>
            <h4> Pairings: </h4>
            {% with games=draft_games|get_item:draft.id %}
                {% for game in games %}
                    <li>Table {{ game.table }}: {{ game.player1 }} vs {{ game.player2 }} - Result: 
                        <span class="match-info"
                            id="{{ game.id }}">
                            {{ game.result_formatted }}
                        </span>
                    </li>
                {% empty %}
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-primary"
                                id="pair-btn"
                                href="{% url 'tournaments:pair_round_view' tournament.id draft.id %}"
                                role="button">Pair Round
                            </a>
                        </div>
                        <div class="col-sm-12">
                            <a class="btn btn-primary"
                                id="seat-btn"
                                href="{% url 'tournaments:seat_draft' tournament.id draft.id %}"
                                role="button">Make Seatings
                            </a>
                        </div>
                    </div>
                {% endfor %}
                {% if games %}
                    <div class="row">
                        <div class="col-sm-12">
                            <form method="post"
                                action="{% url 'tournaments:clear_history' tournament.id draft.id %}"
                                style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Clear pairing history</button>
                            </form>
                            <form method="post"
                                name="start-btn"
                                id="s{{draft.id}}"
                                action="{% url 'tournaments:start_round' tournament.id draft.id %}"
                                style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Start round</button>
                            </form>
                            <form method="post"
                                name="finish-btn"
                                id="f{{draft.id}}"
                                action="{% url 'tournaments:finish_round' tournament.id draft.id %}"
                                style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Finish round</button>
                            </form>
                            <form method="post"
                                action="{% url 'tournaments:sync' tournament.id draft.id %}"
                                style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Sync results</button>
                            </form>
                        </div>
                    </div>

                {% endif %}
            {% endwith %}
        </ul>
    {% empty %}
        <p>No Drafts</p>
    {% endfor %}
    </div>
{% endblock %}

