{% extends "base.html" %}
{% load i18n %}
{% block content %}
<h1>Home</h1>
<div class="player-welcome">
    <h4>
        {% trans 'Welcome to the tournament vault' %}!
    </h4>
    {% if request.user.is_authenticated %}
        {% url 'tournaments:tournament_list' as url %}
        <p>
            {% blocktrans %}
            Once you are signed up for an event, you can take a look at your
            <a href="{{ url }}">
                event list</a>.
            {% endblocktrans %}
        </p>
    {% else %}
        {% url 'account_login' as url %}
        <p>
        {% blocktrans %}
            To access the vault, please <a href="{{ url }}">sign in</a>.
        {% endblocktrans %}
        </p>
    {% endif %}
</div>
{% endblock %}