{% extends "base.html" %}

{% block content %}
<h1>Home</h1>
<div class="player-welcome">
    <h4>
        Welcome to the tournament vault!
    </h4>
    {% if request.user.is_authenticated %}
        <p>Once you are signed up for an event, you can take a look at your
        <a href="{% url 'tournaments:event_dashboard' %}">
            event dashboard</a>.
        </p>
        <p>Before playing in your first event, please
        <a href="{% url 'users:detail' request.user.username  %}">
            customize your user profile</a>.
        </p>
    {% else %}
        <p>To access the vault, please <a href="{% url 'account_login' %}">sign in</a>.</p>
    {% endif %}
</div>
{% endblock %}